stages:
  - test
  - build

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"

test:
  stage: test
  image: golang:1.17
  script:
    - echo "Тестирование"
    - go version
    - go test -v -race . || true
  allow_failure: true

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "Сборка Docker"
    - docker build -t $CI_PROJECT_NAME:latest . || true
  only:
    - master
    - main
  allow_failure: true
